@use "../globals" as *;

#shortner-page {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  h1 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  h2 {
    color: $work-white;
  }
  #shortner-top {
    background: linear-gradient(
      180deg,
      #1e3448 99.99%,
      rgba(30, 52, 72, 0) 100%
    );
    color: $work-white;
    border-radius: 8px;
    padding: 1rem 0rem;
    @media (min-width: 49.75em) {
      padding: 1rem;
    }
    #shortner-section {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 3rem;
      min-height: 60vh;
    }
    input,
    select {
      padding: 0.8rem;
      border: 1px solid $work-Blue;
      border-radius: 8px;
    }
    select {
      background: transparent;
    }

    form {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-color: $work-white;
      border-radius: 8px;
      width: 100%;
      margin: 0 auto;
      @media (min-width: 49.75em) {
        width: 70%;
        padding: 2rem;
      }
    }

    table {
      background-color: $work-white;
      padding: 2%;
      border-radius: 8px;
      margin-inline: auto;
      color: black;
      display: flex;

      thead,
      tbody {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 1%;
      }

      th {
        text-align: start;
      }
      td {
        display: flex;
      }
    }
    button {
      padding: 0.75rem;
      border-radius: 8px;
      border: 1px solid $work-Blue;
      background-color: $work-Blue;
      color: $work-white;
    }
  }
}
