@use "../globals" as *;
#dashboard {
  display: grid;
  gap: 2rem;
  position: relative;

  .blue-text {
    color: $work-Blue;
  }

  #hero {
    padding: 2% 10%;
    display: grid;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    @media (min-width: 49.75em) {
      margin-top: 10%;
    }

    h1 {
      text-align: center;

      line-height: 1.5;
    }
    u {
      text-decoration: none;
      background: url("/images/Vector\ 3.svg");
      background-repeat: no-repeat;
      background-position: right 10px center;
      background-position-y: 300%;
      @media (min-width: 49.75em) {
        background-position-y: 150%;
      }
    }
    p {
      text-align: center;
    }
    button {
      padding: 1%;
      border: none;
    }
    .transparent-btn {
      background: transparent;
      border: none;
      color: $work-Blue;
    }
    .blue-btn {
      background-color: $work-Blue;
      color: $work-white;
      border-radius: 25px;
      width: 6rem;
      padding: 0.7rem;
      // width: 10%;
    }
    #hero-btns {
      display: flex;
      gap: 1rem;
      align-items: center;
      justify-content: center;
    }
    #hero-imgs {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

  #banner-section {
    background: url("/images/Rectangle\ 1.png");
    padding: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    h2 {
      color: $work-white;
    }
    .blue-btn {
      background-color: $work-Blue;
      border: none;
      color: $work-white;
      border-radius: 25px;
      width: 6rem;
      padding: 0.7rem;
    }
  }
}
