@use "../globals" as *;
#features-section {
  #possiblites-div {
    padding: 2%;
    @media (min-width: 49.75em) {
      display: grid;
      grid-template-columns: 40% 60%;
      justify-content: space-between;
      padding-inline: 10%;
    }
    background-color: $grey;
  }
  h3 {
    font-size: 2rem;
    padding: 2%;
  }
  #stat {
    display: flex;
    // gap: 2rem;

    div {
      padding: 3%;
    }
  }
  #why-section {
    padding: 2%;
    @media (min-width: 49.75em) {
      display: flex;
      padding: 3%;
      align-items: center;
    }

    #features {
      display: grid;
      padding: 3%;
      grid-template-columns: 1fr 1fr;
      gap: 2rem;
    }
    #why-section-text {
      @media (min-width: 49.75em) {
        padding-inline: 10%;
      }
    }
  }
}
