@use "../globals" as *;
nav {
  display: flex;
  gap: 1rem;
  padding: 2%;

  @media (min-width: 49.75em) {
    grid-template-columns: 15% 55% 30%;
    padding-inline: 10%;
    justify-content: center;
  }
  a {
    text-decoration: none;
  }
  color: $work-Blue;
  .blue-text {
    color: $work-Blue;
  }
  .logo-div {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
    cursor: pointer;
  }

  ul {
    display: none;
    @media (min-width: 49.75em) {
      display: flex;
    }

    gap: 1.2rem;
    li {
      list-style: none;
      cursor: pointer;
    }
  }
  #nav-btns {
    display: flex;
    gap: 1rem;
    align-items: center;
    button {
      padding: 3%;
      border: none;
      cursor: pointer;
    }
    .transparent-btn {
      background: transparent;
      border: none;
      color: $work-Blue;
    }
    .blue-btn {
      background-color: $work-Blue;
      color: $work-white;
      border-radius: 25px;
      width: 6rem;
      padding: 0.7rem;
    }
  }
  #nav-profile {
    display: flex;
    align-items: center;
    position: relative;
    gap: 1rem;
    cursor: pointer;
    img {
      height: 30px;
      width: 30px;
      border-radius: 50%;
      @media (min-width: 49.75em) {
        height: 50px;
        width: 50px;
      }
    }
    #signOut-div {
      display: none;
    }
    #signOut-div.active {
      position: absolute;
      background-color: $work-white;
      padding: 0.5rem;
      border-radius: 8px;
      width: 50%;
      bottom: -50px;
      right: 50%;
      display: flex;
      justify-content: center;
      transition: all 0.3s;
      button {
        padding: 0.5rem;
        background-color: $work-Blue;
        border: none;
        color: $work-white;
        border-radius: 8px;
      }
    }
  }
}
