html {
  box-sizing: border-box;
  font-size: 100%;
}
:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
button:disabled {
  opacity: 0.35;
}
#union-logo {
  width: 25px;
  height: 25px;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
}
img {
  max-width: 100%;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
