@use "../globals" as *;
nav {
  display: grid;
  grid-template-columns: 15% 55% 30%;
  padding-inline: 10%;

  .logo-div {
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
  }
  ul {
    display: flex;

    gap: 3rem;
    li {
      list-style: none;
    }
  }
  button {
    padding: 2%;
    border: none;
  }
}
