@use "../globals" as *;
footer {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  @media (min-width: 49.75em) {
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 5% 10%;
  }
  .logo-div {
    display: flex;
    gap: 0.5rem;
  }
  .socials-link {
    display: flex;
    gap: 1.5rem;
  }
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: $work-fontColor;
    font-size: $small-font-size;
  }
  a:hover {
    color: $work-Blue;
  }
  #line {
    height: 4px;
    border: 0.5px solid #8494a1;
  }
  #top-section {
    display: flex;
    gap: 2rem;

    @media (min-width: 49.75em) {
      flex-direction: column;
    }
  }
  #links-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // padding-inline: 5%;
    gap: 2rem;
    @media (min-width: 49.75em) {
      justify-content: flex-start;
    }
  }
}
