@use "../globals" as *;
footer {
  display: grid;
  grid-template-columns: 30% 70%;
  padding: 5% 10%;
  .logo-div {
    display: flex;
    gap: 0.5rem;
  }
  .socials-link {
    display: flex;
    gap: 1.5rem;
  }
  a {
    display: block;
    text-decoration: none;
    margin-bottom: 10px;
    color: $work-fontColor;
    font-size: $small-font-size;
  }
  a:hover {
    color: $work-Blue;
  }
  #line {
    height: 4px;
    border: 0.5px solid #8494a1;
  }
  #top-section {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  #links-section {
    display: flex;
    flex-wrap: wrap;
    // padding-inline: 5%;
    gap: 2rem;
  }
}
